{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <div class="middle-content">
        <h2 class="content-head is-center">Hum. Problem.</h2>

        <p>Looks like we have a problem here.</p>
        <p><img src="https://i.giphy.com/xTiTnGeUsWOEwsGoG4.gif" /></p>
        <p>You might want to <a href="{{ path('homepage') }}">return to the homepage</a>.</p>
        <p>And if you are already on the homepage, it might be a bigger problem. So don't move.</p>
    </div>
</div>
{% endblock %}
