version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    symfony-dependencies:
      patterns:
        - "symfony/*"
    twig-dependencies:
      patterns:
        - "twig/*"
    phpstan-dependencies:
      patterns:
        - "phpstan/*"
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
