version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 10
  groups:
    symfony-dependencies:
      patterns:
        - "*symfony*"
    twig-dependencies:
      patterns:
        - "*twig*"
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    time: "04:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 10
