parameters:
    level: max
    paths:
        - src
        - tests

    symfony:
        containerXmlPath: %rootDir%/../../../var/cache/test/App_KernelTestDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php

    doctrine:
        objectManagerLoader: tests/object-manager.php

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: offsetAccess.nonOffsetAccessible
        -
            identifier: argument.type
        -
            identifier: cast.int
        -
            identifier: cast.string
        -
            identifier: foreach.nonIterable
        -
            identifier: binaryOp.invalid
        -
            identifier: method.nonObject
        -
            path: src/Pagination/PaginatorInterface.php
            identifier: throws.notThrowable
        -
            path: src/Repository/VersionRepository.php
            identifier: return.type

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
