parameters:
    level: max
    paths:
        - src
        - tests

    symfony:
        containerXmlPath: %rootDir%/../../../var/cache/test/App_KernelTestDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: offsetAccess.nonOffsetAccessible
        -
            identifier: argument.type
        -
            identifier: cast.int
        -
            identifier: cast.string
        -
            identifier: foreach.nonIterable
        -
            identifier: binaryOp.invalid
        -
            identifier: method.nonObject
        -
            path: src/Pagination/PaginatorInterface.php
            identifier: throws.notThrowable
        -
            path: src/Repository/VersionRepository.php
            identifier: return.type
        -
            path: tests/Security/GithubAuthenticatorTest.php
            identifier: deadCode.unreachable
            count: 2
        -
            path: tests/bootstrap.php
            identifier: function.alreadyNarrowedType
            count: 1

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
