parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: banditore
    database_user: root
    database_password: ~

    secret: 32243a839bcb3ae77ac1bd1db3a5e6c5b583953a

    github_client_id: xxx
    github_client_secret: xxx

    redis_dsn_guzzle_cache: redis://127.0.0.1:6379/2
    redis_dsn_doctrine_cache: redis://127.0.0.1:6379/3

    # used to generate url from the backend
    project_host: banditore.com
    project_scheme: http

    # rabbit
    rabbitmq_host: 127.0.0.1
    rabbitmq_port: 5672
    rabbitmq_login: 'guest'
    rabbitmq_password: 'guest'

    sentry_dsn: https://xxx:xxx@sentry.io/666

    # minute interval before defining the status as non fresh because it might be a problem
    # (the queue is full, workers are dead, redis is dead, rabbitmq is dead, etc.)
    status_minute_interval_before_alert: 120
